<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://localhost/apson</property> <!-- BD Mane -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">postgres</property> <!-- DB User -->
        <property name="connection.password">masterkey</property> <!-- DB Password -->

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- DB Dialect -->
        <property name="hbm2ddl.auto">none</property> <!-- create / create-drop / update -->

        <property name="show_sql">false</property> <!-- Show SQL in console -->
        <property name="format_sql">false</property> <!-- Show SQL formatted -->

        <mapping class="br.com.apson.entities.SuperCadastros"/>
        <mapping class="br.com.apson.entities.CadProfessores"/>
        <mapping class="br.com.apson.entities.CadProfDiasDisp"/>
        <mapping class="br.com.apson.entities.AreaAtuacaoMedica"/>
        <mapping class="br.com.apson.entities.CadInstituicoesSaude"/>
        <mapping class="br.com.apson.entities.CadAtividades"/>
        <mapping class="br.com.apson.entities.CadAtividadesHorariosDisponiveis"/>
        <mapping class="br.com.apson.entities.CadAtividadesPeriodos"/>
        <mapping class="br.com.apson.entities.CadAtividadesGrupos"/>
        <mapping class="br.com.apson.entities.CadAtividadesGruposAlunos"/>
        <mapping class="br.com.apson.entities.CadAtividadesMesAnoDisp"/>
        <mapping class="br.com.apson.entities.CadAtividadesDiaMes"/>
        <mapping class="br.com.apson.entities.CadAlunos"/>

    </session-factory>
</hibernate-configuration>